{% if sd['ldap_uri'] is defined and sd['ldap_uri']
  not in ['', [], '[]', None] %}
{% if sd['ldap_uri'] is string %}
{{ 'ldap_uri = ' + sd['ldap_uri'] }}
{% elif sd['ldap_uri'] is sequence %}
{{ 'ldap_uri = ' ~ (sd.ldap_uri | join(', ')) }}
{% endif %}
{% endif %}
{% if sd['ldap_backup_uri'] is defined and sd['ldap_backup_uri']
  not in ['', [], '[]', None] %}
{% if sd['ldap_backup_uri'] is string %}
{{ 'ldap_backup_uri = ' + sd['ldap_backup_uri'] }}
{% elif sd['ldap_backup_uri'] is sequence %}
{{ 'ldap_backup_uri = ' ~ (sd.ldap_backup_uri | join(', ')) }}
{% endif %}
{% endif %}
{% if sd['ldap_chpass_uri'] is defined and sd['ldap_chpass_uri']
  not in ['', [], '[]', None] %}
{% if sd['ldap_chpass_uri'] is string %}
{{ 'ldap_chpass_uri = ' + sd['ldap_chpass_uri'] }}
{% elif sd['ldap_chpass_uri'] is sequence %}
{{ 'ldap_chpass_uri = ' ~ (sd.ldap_chpass_uri | join(', ')) }}
{% endif %}
{% endif %}
{% if sd['ldap_chpass_backup_uri'] is defined and sd['ldap_chpass_backup_uri']
  not in ['', [], '[]', None] %}
{% if sd['ldap_chpass_backup_uri'] is string %}
{{ 'ldap_chpass_backup_uri = ' + sd['ldap_chpass_backup_uri'] }}
{% elif sd['ldap_chpass_backup_uri'] is sequence %}
{{ 'ldap_chpass_backup_uri = ' ~ (sd['ldap_chpass_backup_uri'] | join(', ')) }}
{% endif %}
{% endif %}
{% if sd['ldap_search_base'] is defined and sd['ldap_search_base']
  not in ['', [], '[]', None] %}
{{ 'ldap_search_base = ' + sd['ldap_search_base'] }}
{% endif %}
{% if sd['ldap_schema'] is defined and sd['ldap_schema'] in ['rfc2307',
  'rfc2307bis', 'IPA', 'AD'] %}
{{ 'ldap_schema = ' + sd['ldap_schema'] }}
{% endif %}
{% if sd['ldap_pwmodify_mode'] is defined and
  sd['ldap_pwmodify_mode'] in ['exop', 'ldap_modify'] %}
{{ 'ldap_pwmodify_mode = ' + sd['ldap_pwmodify_mode'] }}
{% endif %}
{% if sd['ldap_default_bind_dn'] is defined and sd['ldap_default_bind_dn']
  not in ['', [], '[]', None] %}
{{ 'ldap_default_bind_dn = ' + sd['ldap_default_bind_dn'] }}
{% endif %}
{% if sd['ldap_default_authtok_type'] is defined and
  sd['ldap_default_authtok_type'] in ['password', 'obfuscated_password'] %}
{{ 'ldap_default_authtok_type = ' + sd['ldap_default_authtok_type'] }}
{% endif %}
{% if sd['ldap_default_authtok'] is defined and sd['ldap_default_authtok']
  not in ['', [], '[]', None] %}
{{ 'ldap_default_authtok = ' + sd['ldap_default_authtok'] }}
{% endif %}
{% if sd['ldap_force_upper_case_realm'] is defined and
  sd['ldap_force_upper_case_realm'] in ['true', 'false'] %}
{{ 'ldap_force_upper_case_realm = ' + sd['ldap_force_upper_case_realm'] }}
{% endif %}
{% if sd['ldap_enumeration_refresh_timeout'] is defined and
  sd['ldap_enumeration_refresh_timeout'] not in ['', [], '[]', None] %}
{{ 'ldap_enumeration_refresh_timeout = ' ~
  sd['ldap_enumeration_refresh_timeout'] }}
{% endif %}
{% if sd['ldap_purge_cache_timeout'] is defined and
  sd['ldap_purge_cache_timeout'] not in ['', [], '[]', None] %}
{{ 'ldap_purge_cache_timeout = ' ~ sd['ldap_purge_cache_timeout'] }}
{% endif %}
{% if sd['ldap_group_nesting_level'] is defined and
  sd['ldap_group_nesting_level'] not in ['', [], '[]', None] %}
{{ 'ldap_group_nesting_level = ' ~ sd['ldap_group_nesting_level'] }}
{% endif %}
{% if sd['ldap_use_tokengroups'] is defined and sd['ldap_use_tokengroups'] in
  ['true', 'false'] %}
{{ 'ldap_use_tokengroups = ' + sd['ldap_use_tokengroups'] }}
{% endif %}
{% if sd['ldap_host_search_base'] is defined and sd['ldap_host_search_base']
  not in ['', [], '[]', None] %}
{{ 'ldap_host_search_base = ' + sd['ldap_host_search_base'] }}
{% endif %}
{% if sd['ldap_service_search_base'] is defined and
  sd['ldap_service_search_base'] not in ['', [], '[]', None] %}
{{ 'ldap_service_search_base = ' + sd['ldap_service_search_base'] }}
{% endif %}
{% if sd['ldap_iphost_search_base'] is defined and
  sd['ldap_iphost_search_base'] not in ['', [], '[]', None] %}
{{ 'ldap_iphost_search_base = ' + sd['ldap_iphost_search_base'] }}
{% endif %}
{% if sd['ldap_search_timeout'] is defined and sd['ldap_search_timeout']
  not in ['', [], '[]', None] %}
{{ 'ldap_search_timeout = ' ~ sd['ldap_search_timeout'] }}
{% endif %}
{% if sd['ldap_enumeration_search_timeout'] is defined and
  sd['ldap_enumeration_search_timeout'] not in ['', [], '[]', None] %}
{{ 'ldap_enumeration_search_timeout = ' ~
  sd['ldap_enumeration_search_timeout'] }}
{% endif %}
{% if sd['ldap_network_timeout'] is defined and sd['ldap_network_timeout']
  not in ['', [], '[]', None] %}
{{ 'ldap_network_timeout = ' ~ sd['ldap_network_timeout'] }}
{% endif %}
{% if sd['ldap_opt_timeout'] is defined and sd['ldap_opt_timeout']
  not in ['', [], '[]', None] %}
{{ 'ldap_opt_timeout = ' ~ sd['ldap_opt_timeout'] }}
{% endif %}
{% if sd['ldap_connection_expire_timeout'] is defined and
  sd['ldap_connection_expire_timeout'] not in ['', [], '[]', None] %}
{{ 'ldap_connection_expire_timeout = ' ~ sd['ldap_connection_expire_timeout'] }}
{% endif %}
{% if sd['ldap_connection_expire_offset'] is defined and
  sd['ldap_connection_expire_offset'] not in ['', [], '[]', None] %}
{{ 'ldap_connection_expire_offset = ' ~ sd['ldap_connection_expire_offset'] }}
{% endif %}
{% if sd['ldap_page_size'] is defined and sd['ldap_page_size']
  not in ['', [], '[]', None] %}
{{ 'ldap_page_size = ' ~ sd['ldap_page_size'] }}
{% endif %}
{% if sd['ldap_disable_paging'] is defined and sd['ldap_disable_paging'] in
  ['true', 'false'] %}
{{ 'ldap_disable_paging = ' + sd['ldap_disable_paging'] }}
{% endif %}
{% if sd['ldap_disable_range_retrieval'] is defined and
  sd['ldap_disable_range_retrieval'] in ['true', 'false'] %}
{{ 'ldap_disable_range_retrieval = ' + sd['ldap_disable_range_retrieval'] }}
{% endif %}
{% if sd['ldap_sasl_minssf'] is defined and sd['ldap_sasl_minssf']
  not in ['', [], '[]', None] %}
{{ 'ldap_sasl_minssf = ' + sd['ldap_sasl_minssf'] }}
{% endif %}
{% if sd['ldap_sasl_maxssf'] is defined and sd['ldap_sasl_maxssf']
  not in ['', [], '[]', None] %}
{{ 'ldap_sasl_maxssf = ' + sd['ldap_sasl_maxssf'] }}
{% endif %}
{% if sd['ldap_deref_threshold'] is defined and sd['ldap_deref_threshold']
  not in ['', [], '[]', None] %}
{{ 'ldap_deref_threshold = ' ~ sd['ldap_deref_threshold'] }}
{% endif %}
{% if sd['ldap_tls_reqcert'] is defined and sd['ldap_tls_reqcert'] in ['never',
  'allow', 'try', 'demand', 'hard'] %}
{{ 'ldap_tls_reqcert = ' + sd['ldap_tls_reqcert'] }}
{% endif %}
{% if sd['ldap_tls_cacert'] is defined and sd['ldap_tls_cacert']
  not in ['', [], '[]', None] %}
{{ 'ldap_tls_cacert = ' + sd['ldap_tls_cacert'] }}
{% endif %}
{% if sd['ldap_tls_cacertdir'] is defined and sd['ldap_tls_cacertdir']
  not in ['', [], '[]', None] %}
{{ 'ldap_tls_cacertdir = ' + sd['ldap_tls_cacertdir'] }}
{% endif %}
{% if sd['ldap_tls_cert'] is defined and sd['ldap_tls_cert']
  not in ['', [], '[]', None] %}
{{ 'ldap_tls_cert = ' + sd['ldap_tls_cert'] }}
{% endif %}
{% if sd['ldap_tls_key'] is defined and sd['ldap_tls_key']
  not in ['', [], '[]', None] %}
{{ 'ldap_tls_key = ' + sd['ldap_tls_key'] }}
{% endif %}
{% if sd['ldap_tls_cipher_suite'] is defined and sd['ldap_tls_cipher_suite']
  not in ['', [], '[]', None] %}
{{ 'ldap_tls_cipher_suite = ' + sd['ldap_tls_cipher_suite'] }}
{% endif %}
{% if sd['ldap_id_use_start_tls'] is defined and
  sd['ldap_id_use_start_tls'] in ['true', 'false'] %}
{{ 'ldap_id_use_start_tls = ' + sd['ldap_id_use_start_tls'] }}
{% endif %}
{% if sd['ldap_id_mapping'] is defined and sd['ldap_id_mapping'] in
  ['true', 'false'] %}
{{ 'ldap_id_mapping = ' + sd['ldap_id_mapping'] }}
{% endif %}
{% if sd['ldap_id_mapping'] is defined and sd['ldap_id_mapping'] in
  ['true', 'false'] %}
{{ 'ldap_id_mapping = ' + sd['ldap_id_mapping'] }}
{% endif %}
{% if sd['ldap_min_id'] is defined and sd['ldap_min_id']
  not in ['', [], '[]', None] %}
{{ 'ldap_min_id = ' ~ sd['ldap_min_id'] }}
{% endif %}
{% if sd['ldap_max_id'] is defined and sd['ldap_max_id']
  not in ['', [], '[]', None] %}
{{ 'ldap_max_id = ' ~ sd['ldap_max_id'] }}
{% endif %}
{% if sd['ldap_sasl_mech'] is defined and sd['ldap_sasl_mech']
  not in ['', [], '[]', None] %}
{{ 'ldap_sasl_mech = ' + sd['ldap_sasl_mech'] }}
{% endif %}
{% if sd['ldap_sasl_authid'] is defined and sd['ldap_sasl_authid']
  not in ['', [], '[]', None] %}
{{ 'ldap_sasl_authid = ' + sd['ldap_sasl_authid'] }}
{% endif %}
{% if sd['ldap_sasl_realm'] is defined and sd['ldap_sasl_realm']
  not in ['', [], '[]', None] %}
{{ 'ldap_sasl_realm = ' + sd['ldap_sasl_realm'] }}
{% endif %}
{% if sd['ldap_sasl_canonicalize'] is defined and
  sd['ldap_sasl_canonicalize'] in ['true', 'false'] %}
{{ 'ldap_sasl_canonicalize = ' + sd['ldap_sasl_canonicalize'] }}
{% endif %}
{% if sd['ldap_krb5_keytab'] is defined and sd['ldap_krb5_keytab']
  not in ['', [], '[]', None] %}
{{ 'ldap_krb5_keytab = ' + sd['ldap_krb5_keytab'] }}
{% endif %}
{% if sd['ldap_krb5_init_creds'] is defined and
  sd['ldap_krb5_init_creds'] in ['true', 'false'] %}
{{ 'ldap_krb5_init_creds = ' + sd['ldap_krb5_init_creds'] }}
{% endif %}
{% if sd['ldap_krb5_ticket_lifetime'] is defined and
  sd['ldap_krb5_ticket_lifetime'] not in ['', [], '[]', None] %}
{{ 'ldap_krb5_ticket_lifetime = ' ~ sd['ldap_krb5_ticket_lifetime'] }}
{% endif %}
{% if sd['ldap_pwd_policy'] is defined and sd['ldap_pwd_policy'] in ['none',
  'shadow', 'mit_kerberos'] %}
{{ 'ldap_pwd_policy = ' + sd['ldap_pwd_policy'] }}
{% endif %}
{% if sd['ldap_dns_service_name'] is defined and sd['ldap_dns_service_name']
  not in ['', [], '[]', None] %}
{{ 'ldap_dns_service_name = ' + sd['ldap_dns_service_name'] }}
{% endif %}
{% if sd['ldap_chpass_dns_service_name'] is defined and
  sd['ldap_chpass_dns_service_name'] not in ['', [], '[]', None] %}
{{ 'ldap_chpass_dns_service_name = ' + sd['ldap_chpass_dns_service_name'] }}
{% endif %}
{% if sd['ldap_chpass_update_last_change'] is defined and
  sd['ldap_chpass_update_last_change'] in ['true', 'false'] %}
{{ 'ldap_chpass_update_last_change = ' + sd['ldap_chpass_update_last_change'] }}
{% endif %}
{% if sd['ldap_access_filter'] is defined and sd['ldap_access_filter']
  not in ['', [], '[]', None] %}
{{ 'ldap_access_filter = ' + sd['ldap_access_filter'] }}
{% endif %}
{% if sd['ldap_account_expire_policy'] is defined and
  sd['ldap_account_expire_policy'] in ['shadow', 'ad', 'nds'] %}
{{ 'ldap_account_expire_policy = ' + sd['ldap_account_expire_policy'] }}
{% endif %}
{% if sd['ldap_access_order'] is defined and sd['ldap_access_order']
  not in ['', [], '[]', None] %}
{% if sd['ldap_access_order'] is string %}
{{ 'ldap_access_order = ' + sd['ldap_access_order'] }}
{% elif sd['ldap_access_order'] is sequence %}
{{ 'ldap_access_order = ' ~ (sd.ldap_access_order | join(', ')) }}
{% endif %}
{% endif %}
{% if sd['ldap_deref'] is defined and sd['ldap_deref'] in ['never',
  'searching', 'finding', 'always'] %}
{{ 'ldap_deref = ' + sd['ldap_deref'] }}
{% endif %}
{% if sd['ldap_rfc2307_fallback_to_local_users'] is defined and
  sd['ldap_rfc2307_fallback_to_local_users'] in ['true', 'false'] %}
{{ 'ldap_rfc2307_fallback_to_local_users = ' +
  sd['ldap_rfc2307_fallback_to_local_users'] }}
{% endif %}
{% if sd['wildcard_limit'] is defined and sd['wildcard_limit']
  not in ['', [], '[]', None] %}
{{ 'wildcard_limit = ' ~ sd['wildcard_limit'] }}
{% endif %}
{% if sd['ldap_sudo_full_refresh_interval'] is defined and
  sd['ldap_sudo_full_refresh_interval'] not in ['', [], '[]', None] %}
{{ 'ldap_sudo_full_refresh_interval = ' ~
  sd['ldap_sudo_full_refresh_interval'] }}
{% endif %}
{% if sd['ldap_sudo_smart_refresh_interval'] is defined and
  sd['ldap_sudo_smart_refresh_interval'] not in ['', [], '[]', None] %}
{{ 'ldap_sudo_smart_refresh_interval = ' ~
  sd['ldap_sudo_smart_refresh_interval'] }}
{% endif %}
{% if sd['ldap_sudo_hostnames'] is defined and sd['ldap_sudo_hostnames']
  not in ['', [], '[]', None] %}
{% if sd['ldap_sudo_hostnames'] is string %}
{{ 'ldap_sudo_hostnames = ' + sd['ldap_sudo_hostnames'] }}
{% elif sd['ldap_sudo_hostnames'] is sequence %}
{{ 'ldap_sudo_hostnames = ' ~ (sd.ldap_sudo_hostnames | join(' ')) }}
{% endif %}
{% endif %}
{% if sd['ldap_sudo_ip'] is defined and sd['ldap_sudo_ip']
  not in ['', [], '[]', None] %}
{% if sd['ldap_sudo_ip'] is string %}
{{ 'ldap_sudo_ip = ' + sd['ldap_sudo_ip'] }}
{% elif sd['ldap_sudo_ip'] is sequence %}
{{ 'ldap_sudo_ip = ' ~ (sd.ldap_sudo_ip | join(' ')) }}
{% endif %}
{% endif %}
{% if sd['ldap_sudo_include_netgroups'] is defined and
  sd['ldap_sudo_include_netgroups'] in ['true', 'false'] %}
{{ 'ldap_sudo_include_netgroups = ' + sd['ldap_sudo_include_netgroups'] }}
{% endif %}
{% if sd['ldap_sudo_include_regexp'] is defined and
  sd['ldap_sudo_include_regexp'] in ['true', 'false'] %}
{{ 'ldap_sudo_include_regexp = ' + sd['ldap_sudo_include_regexp'] }}
{% endif %}
{% if sd['ldap_autofs_map_master_name'] is defined and
  sd['ldap_autofs_map_master_name'] not in ['', [], '[]', None] %}
{{ 'ldap_autofs_map_master_name = ' + sd['ldap_autofs_map_master_name'] }}
{% endif %}
{% if sd['ldap_autofs_map_object_class'] is defined and
  sd['ldap_autofs_map_object_class'] in ['nisMap', 'automountMap'] %}
{{ 'ldap_autofs_map_master_name = ' + sd['ldap_autofs_map_object_class'] }}
{% endif %}
{% if sd['ldap_autofs_map_name'] is defined and
  sd['ldap_autofs_map_name'] in ['nisMap', 'automountMapName'] %}
{{ 'ldap_autofs_map_name = ' + sd['ldap_autofs_map_name'] }}
{% endif %}
{% if sd['ldap_autofs_entry_object_class'] is defined and
  sd['ldap_autofs_entry_object_class'] in ['nisObject', 'automount'] %}
{{ 'ldap_autofs_entry_object_class = ' + sd['ldap_autofs_entry_object_class'] }}
{% endif %}
{% if sd['ldap_autofs_entry_key'] is defined and
  sd['ldap_autofs_entry_key'] in ['cn', 'automountKey'] %}
{{ 'ldap_autofs_entry_key = ' + sd['ldap_autofs_entry_key'] }}
{% endif %}
{% if sd['ldap_autofs_entry_value'] is defined and
  sd['ldap_autofs_entry_value'] in ['nisMapEntry', 'automountInformation'] %}
{{ 'ldap_autofs_entry_value = ' + sd['ldap_autofs_entry_value'] }}
{% endif %}
{% if sd['ldap_netgroup_search_base'] is defined and
  sd['ldap_netgroup_search_base'] not in ['', [], '[]', None] %}
{{ 'ldap_netgroup_search_base = ' + sd['ldap_netgroup_search_base'] }}
{% endif %}
{% if sd['ldap_user_search_base'] is defined and sd['ldap_user_search_base']
  not in ['', [], '[]', None] %}
{{ 'ldap_user_search_base = ' + sd['ldap_user_search_base'] }}
{% endif %}
{% if sd['ldap_group_search_base'] is defined and
  sd['ldap_group_search_base'] not in ['', [], '[]', None] %}
{{ 'ldap_group_search_base = ' + sd['ldap_group_search_base'] }}
{% endif %}
{% if sd['ldap_sudo_search_base'] is defined and sd['ldap_sudo_search_base']
  not in ['', [], '[]', None] %}
{{ 'ldap_sudo_search_base = ' + sd['ldap_sudo_search_base'] }}
{% endif %}
{% if sd['ldap_autofs_search_base'] is defined and
  sd['ldap_autofs_search_base'] not in ['', [], '[]', None] %}
{{ 'ldap_autofs_search_base = ' + sd['ldap_autofs_search_base'] }}
{% endif %}
{% if sd['dns_resolver_server_timeout'] is defined and
  sd['dns_resolver_server_timeout'] not in ['', [], '[]', None] %}
{{ 'dns_resolver_server_timeout = ' ~ sd['dns_resolver_server_timeout'] }}
{% endif %}
{% if sd['dns_resolver_op_timeout'] is defined and
  sd['dns_resolver_op_timeout'] not in ['', [], '[]', None] %}
{{ 'dns_resolver_op_timeout = ' ~ sd['dns_resolver_op_timeout'] }}
{% endif %}
{% if sd['dns_resolver_timeout'] is defined and sd['dns_resolver_timeout']
  not in ['', [], '[]', None] %}
{{ 'dns_resolver_timeout = ' ~ sd['dns_resolver_timeout'] }}
{% endif %}
{% if sd['ldap_idmap_range_min'] is defined and sd['ldap_idmap_range_min']
  not in ['', [], '[]', None] %}
{{ 'ldap_idmap_range_min = ' ~ sd['ldap_idmap_range_min'] }}
{% endif %}
{% if sd['ldap_idmap_range_max'] is defined and sd['ldap_idmap_range_max']
  not in ['', [], '[]', None] %}
{{ 'ldap_idmap_range_max = ' ~ sd['ldap_idmap_range_max'] }}
{% endif %}
{% if sd['ldap_idmap_range_size'] is defined and sd['ldap_idmap_range_size']
  not in ['', [], '[]', None] %}
{{ 'ldap_idmap_range_size = ' ~ sd['ldap_idmap_range_size'] }}
{% endif %}
{% if sd['ldap_idmap_default_domain_sid'] is defined and
  sd['ldap_idmap_default_domain_sid'] not in ['', [], '[]', None] %}
{{ 'ldap_idmap_default_domain_sid = ' ~ sd['ldap_idmap_default_domain_sid'] }}
{% endif %}
{% if sd['ldap_idmap_default_domain'] is defined and
  sd['ldap_idmap_default_domain'] not in ['', [], '[]', None] %}
{{ 'ldap_idmap_default_domain = ' + sd['ldap_idmap_default_domain'] }}
{% endif %}
{% if sd['ldap_idmap_autorid_compat'] is defined and
  sd['ldap_idmap_autorid_compat'] in ['true', 'false'] %}
{{ 'ldap_idmap_autorid_compat = ' + sd['ldap_idmap_autorid_compat'] }}
{% endif %}
{% if sd['ldap_idmap_helper_table_size'] is defined and
  sd['ldap_idmap_helper_table_size'] not in ['', [], '[]', None] %}
{{ 'ldap_idmap_helper_table_size = ' ~ sd['ldap_idmap_helper_table_size'] }}
{% endif %}
{% if sd['ldap_user_object_class'] is defined and
  sd['ldap_user_object_class'] not in ['', [], '[]', None] %}
{{ 'ldap_user_object_class = ' + sd['ldap_user_object_class'] }}
{% endif %}
{% if sd['ldap_user_name'] is defined and sd['ldap_user_name']
  not in ['', [], '[]', None] %}
{{ 'ldap_user_name = ' + sd['ldap_user_name'] }}
{% endif %}
{% if sd['ldap_user_uid_number'] is defined and sd['ldap_user_uid_number']
  not in ['', [], '[]', None] %}
{{ 'ldap_user_uid_number = ' + sd['ldap_user_uid_number'] }}
{% endif %}
{% if sd['ldap_user_gid_number'] is defined and sd['ldap_user_gid_number']
  not in ['', [], '[]', None] %}
{{ 'ldap_user_gid_number = ' + sd['ldap_user_gid_number'] }}
{% endif %}
{% if sd['ldap_user_primary_group'] is defined and sd['ldap_user_primary_group']
  not in ['', [], '[]', None] %}
{{ 'ldap_user_primary_group = ' + sd['ldap_user_primary_group'] }}
{% endif %}
{% if sd['ldap_user_gecos'] is defined and sd['ldap_user_gecos']
  not in ['', [], '[]', None] %}
{{ 'ldap_user_gecos = ' + sd['ldap_user_gecos'] }}
{% endif %}
{% if sd['ldap_user_home_directory'] is defined and
  sd['ldap_user_home_directory'] not in ['', [], '[]', None] %}
{{ 'ldap_user_home_directory = ' + sd['ldap_user_home_directory'] }}
{% endif %}
{% if sd['ldap_user_shell'] is defined and sd['ldap_user_shell']
  not in ['', [], '[]', None] %}
{{ 'ldap_user_shell = ' + sd['ldap_user_shell'] }}
{% endif %}
{% if sd['ldap_user_uuid'] is defined and sd['ldap_user_uuid']
  not in ['', [], '[]', None] %}
{{ 'ldap_user_uuid = ' + sd['ldap_user_uuid'] }}
{% endif %}
{% if sd['ldap_user_objectsid'] is defined and sd['ldap_user_objectsid']
  not in ['', [], '[]', None] %}
{{ 'ldap_user_objectsid = ' + sd['ldap_user_objectsid'] }}
{% endif %}
{% if sd['ldap_user_modify_timestamp'] is defined and
  sd['ldap_user_modify_timestamp'] not in ['', [], '[]', None] %}
{{ 'ldap_user_modify_timestamp = ' + sd['ldap_user_modify_timestamp'] }}
{% endif %}
{% if sd['ldap_user_shadow_last_change'] is defined and
  sd['ldap_user_shadow_last_change'] not in ['', [], '[]', None] %}
{{ 'ldap_user_shadow_last_change = ' + sd['ldap_user_shadow_last_change'] }}
{% endif %}
{% if sd['ldap_user_shadow_min'] is defined and sd['ldap_user_shadow_min']
  not in ['', [], '[]', None] %}
{{ 'ldap_user_shadow_min = ' + sd['ldap_user_shadow_min'] }}
{% endif %}
{% if sd['ldap_user_shadow_max'] is defined and sd['ldap_user_shadow_max']
  not in ['', [], '[]', None] %}
{{ 'ldap_user_shadow_max = ' + sd['ldap_user_shadow_max'] }}
{% endif %}
{% if sd['ldap_user_shadow_warning'] is defined and
  sd['ldap_user_shadow_warning'] not in ['', [], '[]', None] %}
{{ 'ldap_user_shadow_warning = ' + sd['ldap_user_shadow_warning'] }}
{% endif %}
{% if sd['ldap_user_shadow_inactive'] is defined and
  sd['ldap_user_shadow_inactive'] not in ['', [], '[]', None] %}
{{ 'ldap_user_shadow_inactive = ' + sd['ldap_user_shadow_inactive'] }}
{% endif %}
{% if sd['ldap_user_shadow_expire'] is defined and
  sd['ldap_user_shadow_expire'] not in ['', [], '[]', None] %}
{{ 'ldap_user_shadow_expire = ' + sd['ldap_user_shadow_expire'] }}
{% endif %}
{% if sd['ldap_user_krb_last_pwd_change'] is defined and
  sd['ldap_user_krb_last_pwd_change'] not in ['', [], '[]', None] %}
{{ 'ldap_user_krb_last_pwd_change = ' + sd['ldap_user_krb_last_pwd_change'] }}
{% endif %}
{% if sd['ldap_user_krb_password_expiration'] is defined and
  sd['ldap_user_krb_password_expiration'] not in ['', [], '[]', None] %}
{{ 'ldap_user_krb_password_expiration = ' +
   sd['ldap_user_krb_password_expiration'] }}
{% endif %}
{% if sd['ldap_user_ad_account_expires'] is defined and
  sd['ldap_user_ad_account_expires'] not in ['', [], '[]', None] %}
{{ 'ldap_user_ad_account_expires = ' + sd['ldap_user_ad_account_expires'] }}
{% endif %}
{% if sd['ldap_user_ad_user_account_control'] is defined and
  sd['ldap_user_ad_user_account_control'] not in ['', [], '[]', None] %}
{{ 'ldap_user_ad_user_account_control = ' +
   sd['ldap_user_ad_user_account_control'] }}
{% endif %}
{% if sd['ldap_ns_account_lock'] is defined and sd['ldap_ns_account_lock']
  not in ['', [], '[]', None] %}
{{ 'ldap_ns_account_lock = ' + sd['ldap_ns_account_lock'] }}
{% endif %}
{% if sd['ldap_user_nds_login_disabled'] is defined and
  sd['ldap_user_nds_login_disabled'] not in ['', [], '[]', None] %}
{{ 'ldap_user_nds_login_disabled = ' + sd['ldap_user_nds_login_disabled'] }}
{% endif %}
{% if sd['ldap_user_nds_login_expiration_time'] is defined and
  sd['ldap_user_nds_login_expiration_time'] not in ['', [], '[]', None] %}
{{ 'ldap_user_nds_login_expiration_time = ' +
   sd['ldap_user_nds_login_expiration_time'] }}
{% endif %}
{% if sd['ldap_user_nds_login_allowed_time_map'] is defined and
  sd['ldap_user_nds_login_allowed_time_map'] not in ['', [], '[]', None] %}
{{ 'ldap_user_nds_login_allowed_time_map = ' +
   sd['ldap_user_nds_login_allowed_time_map'] }}
{% endif %}
{% if sd['ldap_user_principal'] is defined and
  sd['ldap_user_principal'] not in ['', [], '[]', None] %}
{{ 'ldap_user_principal = ' + sd['ldap_user_principal'] }}
{% endif %}
{% if sd['ldap_user_extra_attrs'] is defined and
  sd['ldap_user_extra_attrs'] not in ['', [], '[]', None] %}
{{ 'ldap_user_extra_attrs = ' + sd['ldap_user_extra_attrs'] }}
{% endif %}
{% if sd['ldap_user_ssh_public_key'] is defined and
  sd['ldap_user_ssh_public_key'] not in ['', [], '[]', None] %}
{{ 'ldap_user_ssh_public_key = ' + sd['ldap_user_ssh_public_key'] }}
{% endif %}
{% if sd['ldap_user_fullname'] is defined and
  sd['ldap_user_fullname'] not in ['', [], '[]', None] %}
{{ 'ldap_user_fullname = ' + sd['ldap_user_fullname'] }}
{% endif %}
{% if sd['ldap_user_member_of'] is defined and
  sd['ldap_user_member_of'] not in ['', [], '[]', None] %}
{{ 'ldap_user_member_of = ' + sd['ldap_user_member_of'] }}
{% endif %}
{% if sd['ldap_user_authorized_service'] is defined and
  sd['ldap_user_authorized_service'] not in ['', [], '[]', None] %}
{{ 'ldap_user_authorized_service = ' + sd['ldap_user_authorized_service'] }}
{% endif %}
{% if sd['ldap_user_authorized_host'] is defined and
  sd['ldap_user_authorized_host'] not in ['', [], '[]', None] %}
{{ 'ldap_user_authorized_host = ' + sd['ldap_user_authorized_host'] }}
{% endif %}
{% if sd['ldap_user_authorized_rhost'] is defined and
  sd['ldap_user_authorized_rhost'] not in ['', [], '[]', None] %}
{{ 'ldap_user_authorized_rhost = ' + sd['ldap_user_authorized_rhost'] }}
{% endif %}
{% if sd['ldap_user_certificate'] is defined and sd['ldap_user_certificate']
  not in ['', [], '[]', None] %}
{{ 'ldap_user_certificate = ' + sd['ldap_user_certificate'] }}
{% endif %}
{% if sd['ldap_user_email'] is defined and sd['ldap_user_email']
  not in ['', [], '[]', None] %}
{{ 'ldap_user_email = ' + sd['ldap_user_email'] }}
{% endif %}
{% if sd['ldap_group_object_class'] is defined and
  sd['ldap_group_object_class'] not in ['', [], '[]', None] %}
{{ 'ldap_group_object_class = ' + sd['ldap_group_object_class'] }}
{% endif %}
{% if sd['ldap_group_name'] is defined and sd['ldap_group_name']
  not in ['', [], '[]', None] %}
{{ 'ldap_group_name = ' + sd['ldap_group_name'] }}
{% endif %}
{% if sd['ldap_group_gid_number'] is defined and sd['ldap_group_gid_number']
  not in ['', [], '[]', None] %}
{{ 'ldap_group_gid_number = ' + sd['ldap_group_gid_number'] }}
{% endif %}
{% if sd['ldap_group_member'] is defined and sd['ldap_group_member']
  not in ['', [], '[]', None] %}
{{ 'ldap_group_member = ' + sd['ldap_group_member'] }}
{% endif %}
{% if sd['ldap_group_uuid'] is defined and sd['ldap_group_uuid']
  not in ['', [], '[]', None] %}
{{ 'ldap_group_uuid = ' + sd['ldap_group_uuid'] }}
{% endif %}
{% if sd['ldap_group_objectsid'] is defined and sd['ldap_group_objectsid']
  not in ['', [], '[]', None] %}
{{ 'ldap_group_objectsid = ' + sd['ldap_group_objectsid'] }}
{% endif %}
{% if sd['ldap_group_modify_timestamp'] is defined and
  sd['ldap_group_modify_timestamp'] not in ['', [], '[]', None] %}
{{ 'ldap_group_modify_timestamp = ' + sd['ldap_group_modify_timestamp'] }}
{% endif %}
{% if sd['ldap_group_type'] is defined and sd['ldap_group_type']
  not in ['', [], '[]', None] %}
{{ 'ldap_group_type = ' + sd['ldap_group_type'] }}
{% endif %}
{% if sd['ldap_group_external_member'] is defined and
  sd['ldap_group_external_member'] not in ['', [], '[]', None] %}
{{ 'ldap_group_external_member = ' + sd['ldap_group_external_member'] }}
{% endif %}
{% if sd['ldap_netgroup_object_class'] is defined and
  sd['ldap_netgroup_object_class'] not in ['', [], '[]', None] %}
{{ 'ldap_netgroup_object_class = ' + sd['ldap_netgroup_object_class'] }}
{% endif %}
{% if sd['ldap_netgroup_name'] is defined and sd['ldap_netgroup_name']
  not in ['', [], '[]', None] %}
{{ 'ldap_netgroup_name = ' + sd['ldap_netgroup_name'] }}
{% endif %}
{% if sd['ldap_netgroup_member'] is defined and sd['ldap_netgroup_member']
  not in ['', [], '[]', None] %}
{{ 'ldap_netgroup_member = ' + sd['ldap_netgroup_member'] }}
{% endif %}
{% if sd['ldap_netgroup_triple'] is defined and sd['ldap_netgroup_triple']
  not in ['', [], '[]', None] %}
{{ 'ldap_netgroup_triple = ' + sd['ldap_netgroup_triple'] }}
{% endif %}
{% if sd['ldap_netgroup_modify_timestamp'] is defined and
  sd['ldap_netgroup_modify_timestamp'] not in ['', [], '[]', None] %}
{{ 'ldap_netgroup_modify_timestamp = ' + sd['ldap_netgroup_modify_timestamp'] }}
{% endif %}
{% if sd['ldap_host_object_class'] is defined and
  sd['ldap_host_object_class'] not in ['', [], '[]', None] %}
{{ 'ldap_host_object_class = ' + sd['ldap_host_object_class'] }}
{% endif %}
{% if sd['ldap_host_name'] is defined and sd['ldap_host_name']
  not in ['', [], '[]', None] %}
{{ 'ldap_host_name = ' + sd['ldap_host_name'] }}
{% endif %}
{% if sd['ldap_host_fqdn'] is defined and sd['ldap_host_fqdn']
  not in ['', [], '[]', None] %}
{{ 'ldap_host_fqdn = ' + sd['ldap_host_fqdn'] }}
{% endif %}
{% if sd['ldap_host_serverhostname'] is defined and
  sd['ldap_host_serverhostname'] not in ['', [], '[]', None] %}
{{ 'ldap_host_serverhostname = ' + sd['ldap_host_serverhostname'] }}
{% endif %}
{% if sd['ldap_host_member_of'] is defined and sd['ldap_host_member_of']
  not in ['', [], '[]', None] %}
{{ 'ldap_host_member_of = ' + sd['ldap_host_member_of'] }}
{% endif %}
{% if sd['ldap_host_ssh_public_key'] is defined and
  sd['ldap_host_ssh_public_key'] not in ['', [], '[]', None] %}
{{ 'ldap_host_ssh_public_key = ' + sd['ldap_host_ssh_public_key'] }}
{% endif %}
{% if sd['ldap_host_uuid'] is defined and sd['ldap_host_uuid']
  not in ['', [], '[]', None] %}
{{ 'ldap_host_uuid = ' + sd['ldap_host_uuid'] }}
{% endif %}
{% if sd['ldap_service_object_class'] is defined and
  sd['ldap_service_object_class'] not in ['', [], '[]', None] %}
{{ 'ldap_service_object_class = ' + sd['ldap_service_object_class'] }}
{% endif %}
{% if sd['ldap_service_name'] is defined and sd['ldap_service_name']
  not in ['', [], '[]', None] %}
{{ 'ldap_service_name = ' + sd['ldap_service_name'] }}
{% endif %}
{% if sd['ldap_service_port'] is defined and sd['ldap_service_port']
  not in ['', [], '[]', None] %}
{{ 'ldap_service_port = ' + sd['ldap_service_port'] }}
{% endif %}
{% if sd['ldap_service_proto'] is defined and sd['ldap_service_proto']
  not in ['', [], '[]', None] %}
{{ 'ldap_service_proto = ' + sd['ldap_service_proto'] }}
{% endif %}
{% if sd['ldap_sudorule_object_class'] is defined and
  sd['ldap_sudorule_object_class'] not in ['', [], '[]', None] %}
{{ 'ldap_sudorule_object_class = ' + sd['ldap_sudorule_object_class'] }}
{% endif %}
{% if sd['ldap_sudorule_name'] is defined and sd['ldap_sudorule_name']
  not in ['', [], '[]', None] %}
{{ 'ldap_sudorule_name = ' + sd['ldap_sudorule_name'] }}
{% endif %}
{% if sd['ldap_sudorule_command'] is defined and sd['ldap_sudorule_command']
  not in ['', [], '[]', None] %}
{{ 'ldap_sudorule_command = ' + sd['ldap_sudorule_command'] }}
{% endif %}
{% if sd['ldap_sudorule_host'] is defined and sd['ldap_sudorule_host']
  not in ['', [], '[]', None] %}
{{ 'ldap_sudorule_host = ' + sd['ldap_sudorule_host'] }}
{% endif %}
{% if sd['ldap_sudorule_user'] is defined and sd['ldap_sudorule_user']
  not in ['', [], '[]', None] %}
{{ 'ldap_sudorule_user = ' + sd['ldap_sudorule_user'] }}
{% endif %}
{% if sd['ldap_sudorule_option'] is defined and sd['ldap_sudorule_option']
  not in ['', [], '[]', None] %}
{{ 'ldap_sudorule_option = ' + sd['ldap_sudorule_option'] }}
{% endif %}
{% if sd['ldap_sudorule_runasuser'] is defined and sd['ldap_sudorule_runasuser']
  not in ['', [], '[]', None] %}
{{ 'ldap_sudorule_runasuser = ' + sd['ldap_sudorule_runasuser'] }}
{% endif %}
{% if sd['ldap_sudorule_runasgroup'] is defined and
  sd['ldap_sudorule_runasgroup'] not in ['', [], '[]', None] %}
{{ 'ldap_sudorule_runasgroup = ' + sd['ldap_sudorule_runasgroup'] }}
{% endif %}
{% if sd['ldap_sudorule_notbefore'] is defined and sd['ldap_sudorule_notbefore']
  not in ['', [], '[]', None] %}
{{ 'ldap_sudorule_notbefore = ' + sd['ldap_sudorule_notbefore'] }}
{% endif %}
{% if sd['ldap_sudorule_notafter'] is defined and sd['ldap_sudorule_notafter']
  not in ['', [], '[]', None] %}
{{ 'ldap_sudorule_notafter = ' + sd['ldap_sudorule_notafter'] }}
{% endif %}
{% if sd['ldap_sudorule_order'] is defined and sd['ldap_sudorule_order']
  not in ['', [], '[]', None] %}
{{ 'ldap_sudorule_order = ' + sd['ldap_sudorule_order'] }}
{% endif %}
{% if sd['ldap_iphost_object_class'] is defined and
  sd['ldap_iphost_object_class'] not in ['', [], '[]', None] %}
{{ 'ldap_iphost_object_class = ' + sd['ldap_iphost_object_class'] }}
{% endif %}
{% if sd['ldap_iphost_name'] is defined and sd['ldap_iphost_name']
  not in ['', [], '[]', None] %}
{{ 'ldap_iphost_name = ' + sd['ldap_iphost_name'] }}
{% endif %}
{% if sd['ldap_iphost_number'] is defined and sd['ldap_iphost_number']
  not in ['', [], '[]', None] %}
{{ 'ldap_iphost_number = ' + sd['ldap_iphost_number'] }}
{% endif %}
{% if sd['ldap_ipnetwork_object_class'] is defined and
  sd['ldap_ipnetwork_object_class'] not in ['', [], '[]', None] %}
{{ 'ldap_ipnetwork_object_class = ' + sd['ldap_ipnetwork_object_class'] }}
{% endif %}
{% if sd['ldap_ipnetwork_name'] is defined and sd['ldap_ipnetwork_name']
  not in ['', [], '[]', None] %}
{{ 'ldap_ipnetwork_name = ' + sd['ldap_ipnetwork_name'] }}
{% endif %}
{% if sd['ldap_ipnetwork_number'] is defined and sd['ldap_ipnetwork_number']
  not in ['', [], '[]', None] %}
{{ 'ldap_ipnetwork_number = ' + sd['ldap_ipnetwork_number'] }}
{% endif %}
