---
- name: "sssd | Include pre requisite tasks"
  ansible.builtin.import_tasks:
    file: "pre_requisite.yml"
- name: "sssd | Include packages tasks"
  ansible.builtin.include_tasks:
    file: "packages.yml"
  when:
    - "hostvars[inventory_hostname]['sssd'] is defined"
    - "hostvars[inventory_hostname]['sssd'] != ''"
    - "hostvars[inventory_hostname]['sssd'] |
       community.general.json_query(vars['sssd_install_package']) is defined"
    - "hostvars[inventory_hostname]['sssd'] |
       community.general.json_query(vars['sssd_install_package']) == 'true'"
  vars:
    sssd_install_package: "[] | map(&install_package || 'false', @) | [0]"
- name: "sssd | Include deployment tasks"
  ansible.builtin.include_tasks:
    file: "deploy.yml"
  when:
    - "hostvars[inventory_hostname]['sssd_settings'] is defined"
    - "hostvars[inventory_hostname]['sssd_settings'] != []"
    - "hostvars[inventory_hostname]['sssd_settings'] != ''"
    - "hostvars[inventory_hostname]['sssd_settings'] != None"
