---
- name: "sssd | Assert that ansible facts gathered successfully"
  ansible.builtin.assert:
    that:
      - "hostvars[inventory_hostname]['ansible_facts']['service_mgr'] is
        defined"
    fail_msg: "'ansible_facts' not found. Please enable facts gathering"
    quiet: "true"
- name: "sssd | Assert that system manager is systemd"
  ansible.builtin.assert:
    that:
      - "hostvars[inventory_hostname]['ansible_facts']['service_mgr'] ==
        'systemd'"
    fail_msg: "System manager is not systemd"
    quiet: "true"
- name: "sssd | Add the OS specific variables"
  ansible.builtin.include_vars:
    file: "{{ hostvars[inventory_hostname]['ansible_facts']['os_family'] +
      '.yml' }}"
- name: "sssd | Set facts about sssd role"
  ansible.builtin.set_fact:
    sssd_package_state: "{{ hostvars[inventory_hostname]['sssd'] |
      community.general.json_query('[].package_state[] | [0]') }}"
    sssd_settings: "{{ hostvars[inventory_hostname]['sssd'] |
      community.general.json_query('[].settings[]') }}"
    sssd_domains: "{{ hostvars[inventory_hostname]['sssd'] |
      community.general.json_query('[].settings[].sssd[].domains[]') }}"
    sssd_logger: "{{ hostvars[inventory_hostname]['sssd'] |
      community.general.json_query('[].logger | [0]') }}"
  when:
    - "hostvars[inventory_hostname]['sssd'] is defined"
    - "hostvars[inventory_hostname]['sssd'] not in ['', [], '[]', None]"
- name: "sssd | Assert that sssd package state in valid value"
  ansible.builtin.assert:
    that:
      - "lookup('ansible.builtin.vars', 'sssd_package_state') in
        ['present', 'latest']"
    fail_msg: "{{ 'package_state must be in `present` or `latest`,
      current is: ' + lookup('ansible.builtin.vars',
      'sssd_package_state') }}"
    quiet: "true"
  when:
    - "lookup('ansible.builtin.vars', 'sssd_package_state',
      default='') not in ['', [], '[]', None, 'present', 'latest']"
- name: "sssd | Set package state to 'present' cause value is not defined"
  ansible.builtin.set_fact:
    sssd_package_state: "present"
  when:
    - "lookup('ansible.builtin.vars', 'sssd_package_state',
      default='') in ['', [], '[]', None]"
- name: "sssd | Create sssd catalog"
  ansible.builtin.file:
    path: "{{ hostvars[inventory_hostname]['sssd_conf_dest'] }}"
    state: "directory"
    owner: "root"
    group: "root"
    mode: "0711"
  when:
    - "lookup('ansible.builtin.vars', 'sssd_settings',
      default='') not in ['', [], '[]', None]"
- name: "sssd | Create sysconfig catalog"
  ansible.builtin.file:
    path: "/etc/sysconfig"
    state: "directory"
    owner: "root"
    group: "root"
    mode: "0755"
  when:
    - "lookup('ansible.builtin.vars', 'sssd_logger',
      default='') not in ['', [], '[]', None]"
