{% if sd.name is defined and sd.name != '' %}
{{ '[domain/' + sd.name + ']' }}
{% if sd.debug_level is defined and sd.debug_level != '' %}
{{ 'debug_level = ' ~ sd.debug_level }}
{% endif %}
{% if sd.debug_timestamps is defined and
      sd.debug_timestamps in ['true', 'false'] %}
{{ 'debug_timestamps = ' + sd.debug_timestamps }}
{% endif %}
{% if sd.debug_microseconds is defined and
      sd.debug_microseconds in ['true', 'false'] %}
{{ 'debug_microseconds = ' + sd.debug_microseconds }}
{% endif %}
{% if sd.timeout is defined and sd.timeout != '' %}
{{ 'timeout = ' ~ sd.timeout }}
{% endif %}
{% if sd.domain_type is defined and
      sd.domain_type in ['posix', 'application'] %}
{{ 'domain_type = ' + sd.domain_type }}
{% endif %}
{% if sd.min_id is defined and sd.min_id != '' %}
{{ 'min_id = ' ~ sd.min_id }}
{% endif %}
{% if sd.max_id is defined and sd.max_id != '' %}
{{ 'max_id = ' ~ sd.max_id }}
{% endif %}
{% if sd.enumerate is defined and sd.enumerate in ['true', 'false'] %}
{{ 'enumerate = ' + sd.enumerate }}
{% endif %}
{% if sd.subdomain_enumerate is defined and
      sd.subdomain_enumerate in ['all', 'none'] %}
{{ 'subdomain_enumerate = ' + sd.subdomain_enumerate }}
{% endif %}
{% if sd.entry_cache_timeout is defined and sd.entry_cache_timeout != '' %}
{{ 'entry_cache_timeout = ' ~ sd.entry_cache_timeout }}
{% endif %}
{% if sd.entry_cache_user_timeout is defined and
      sd.entry_cache_user_timeout != '' %}
{{ 'entry_cache_user_timeout = ' ~ sd.entry_cache_user_timeout }}
{% endif %}
{% if sd.entry_cache_group_timeout is defined and
      sd.entry_cache_group_timeout != '' %}
{{ 'entry_cache_group_timeout = ' ~ sd.entry_cache_group_timeout }}
{% endif %}
{% if sd.entry_cache_netgroup_timeout is defined and
      sd.entry_cache_netgroup_timeout != '' %}
{{ 'entry_cache_netgroup_timeout = ' ~ sd.entry_cache_netgroup_timeout }}
{% endif %}
{% if sd.entry_cache_service_timeout is defined and
      sd.entry_cache_service_timeout != '' %}
{{ 'entry_cache_service_timeout = ' ~ sd.entry_cache_service_timeout }}
{% endif %}
{% if sd.entry_cache_resolver_timeout is defined and
      sd.entry_cache_resolver_timeout != '' %}
{{ 'entry_cache_resolver_timeout = ' ~ sd.entry_cache_resolver_timeout }}
{% endif %}
{% if sd.entry_cache_sudo_timeout is defined and
      sd.entry_cache_sudo_timeout != '' %}
{{ 'entry_cache_sudo_timeout = ' ~ sd.entry_cache_sudo_timeout }}
{% endif %}
{% if sd.entry_cache_autofs_timeout is defined and
      sd.entry_cache_autofs_timeout != '' %}
{{ 'entry_cache_autofs_timeout = ' ~ sd.entry_cache_autofs_timeout }}
{% endif %}
{% if sd.entry_cache_ssh_host_timeout is defined and
      sd.entry_cache_ssh_host_timeout != '' %}
{{ 'entry_cache_ssh_host_timeout = ' ~ sd.entry_cache_ssh_host_timeout }}
{% endif %}
{% if sd.entry_cache_computer_timeout is defined and
      sd.entry_cache_computer_timeout != '' %}
{{ 'entry_cache_computer_timeout = ' ~ sd.entry_cache_computer_timeout }}
{% endif %}
{% if sd.refresh_expired_interval is defined and
      sd.refresh_expired_interval != '' %}
{{ 'refresh_expired_interval = ' ~ sd.refresh_expired_interval }}
{% endif %}
{% if sd.cache_credentials is defined and
      sd.cache_credentials in ['true', 'false'] %}
{{ 'cache_credentials = ' + sd.cache_credentials }}
{% endif %}
{% if sd.cache_credentials_minimal_first_factor_length is defined and
      sd.cache_credentials_minimal_first_factor_length != '' %}
{{ 'cache_credentials_minimal_first_factor_length = ' ~
  sd.cache_credentials_minimal_first_factor_length }}
{% endif %}
{% if sd.account_cache_expiration is defined and
      sd.account_cache_expiration != '' %}
{{ 'account_cache_expiration = ' ~ sd.account_cache_expiration }}
{% endif %}
{% if sd.pwd_expiration_warning is defined and
      sd.pwd_expiration_warning != '' %}
{{ 'pwd_expiration_warning = ' ~ sd.pwd_expiration_warning }}
{% endif %}
{% if sd.id_provider is defined and sd.id_provider in
  ['proxy', 'files', 'ldap', 'ipa', 'ad'] %}
{{ 'id_provider = ' + sd.id_provider }}
{% endif %}
{% if sd.use_fully_qualified_names is defined and
      sd.use_fully_qualified_names in ['true', 'false'] %}
{{ 'use_fully_qualified_names = ' + sd.use_fully_qualified_names }}
{% endif %}
{% if sd.ignore_group_members is defined and
  sd.ignore_group_members in ['true', 'false'] %}
{{ 'ignore_group_members = ' + sd.ignore_group_members }}
{% endif %}
{% if sd.auth_provider is defined and sd.auth_provider in
  ['ldap', 'krb5', 'ipa', 'sssd-ipa', 'ad', 'proxy', 'none'] %}
{{ 'auth_provider = ' + sd.auth_provider }}
{% endif %}
{% if sd.access_provider is defined and sd.access_provider in
  ['permit', 'deny', 'ldap', 'ipa', 'sssd-ipa', 'ad', 'simple', 'krb5',
  'proxy'] %}
{{ 'access_provider = ' + sd.access_provider }}
{% endif %}
{% if sd.chpass_provider is defined and sd.chpass_provider in ['ldap', 'krb5',
  'ipa', 'sssd-ipa', 'ad', 'proxy', 'none'] %}
{{ 'chpass_provider = ' + sd.chpass_provider }}
{% endif %}
{% if sd.sudo_provider is defined and sd.sudo_provider in ['ldap', 'ipa', 'ad',
  'none'] %}
{{ 'sudo_provider = ' + sd.sudo_provider }}
{% endif %}
{% if sd.selinux_provider is defined and sd.selinux_provider in
  ['ipa', 'none'] %}
{{ 'selinux_provider = ' + sd.selinux_provider }}
{% endif %}
{% if sd.subdomains_provider is defined and sd.subdomains_provider in ['ipa',
  'ad', 'none'] %}
{{ 'subdomains_provider = ' + sd.subdomains_provider }}
{% endif %}
{% if sd.session_provider is defined and sd.session_provider in ['ipa',
  'none'] %}
{{ 'session_provider = ' + sd.session_provider }}
{% endif %}
{% if sd.autofs_provider is defined and sd.autofs_provider in ['ldap', 'ipa',
  'ad', 'none'] %}
{{ 'autofs_provider = ' + sd.autofs_provider }}
{% endif %}
{% if sd.hostid_provider is defined and sd.hostid_provider in ['ipa', 'none'] %}
{{ 'hostid_provider = ' + sd.hostid_provider }}
{% endif %}
{% if sd.resolver_provider is defined and sd.resolver_provider in
  ['proxy', 'ldap', 'ad', 'none'] %}
{{ 'resolver_provider = ' + sd.resolver_provider }}
{% endif %}
{% if sd.re_expression is defined and sd.re_expression != '' %}
{{ 're_expression = ' + sd.re_expression }}
{% endif %}
{% if sd.full_name_format is defined and sd.full_name_format != '' %}
{{ 'full_name_format = ' + sd.full_name_format }}
{% endif %}
{% if sd.lookup_family_order is defined and sd.lookup_family_order in
  ['ipv4_first', 'IPv6', 'ipv4_only', 'ipv6_first', 'ipv6_only'] %}
{{ 'lookup_family_order = ' + sd.lookup_family_order }}
{% endif %}
{% if sd.dns_resolver_timeout is defined and sd.dns_resolver_timeout != '' %}
{{ 'dns_resolver_timeout = ' ~ sd.dns_resolver_timeout }}
{% endif %}
{% if sd.dns_discovery_domain is defined and sd.dns_discovery_domain != '' %}
{{ 'dns_discovery_domain = ' + sd.dns_discovery_domain }}
{% endif %}
{% if sd.override_gid is defined and sd.override_gid != '' %}
{{ 'override_gid = ' ~ sd.override_gid }}
{% endif %}
{% if sd.case_sensitive is defined and sd.case_sensitive in ['true', 'false'] %}
{{ 'case_sensitive = ' + sd.case_sensitive }}
{% endif %}
{% if sd.subdomain_inherit is defined and sd.subdomain_inherit != '' %}
{% if sd.subdomain_inherit is string %}
{{ 'subdomain_inherit = ' + sd.subdomain_inherit }}
{% elif sd.subdomain_inherit is sequence %}
{{ 'subdomain_inherit = ' ~ sd.subdomain_inherit | join(', ') }}
{% endif %}
{% endif %}
{% if sd.realmd_tags is defined and sd.realmd_tags != '' %}
{{ 'realmd_tags = ' + sd.realmd_tags }}
{% endif %}
{% if sd.cached_auth_timeout is defined and sd.cached_auth_timeout != '' %}
{{ 'cached_auth_timeout = ' ~ sd.cached_auth_timeout }}
{% endif %}
{% if sd.auto_private_groups is defined and
  sd.auto_private_groups in ['true', 'hybrid' 'false'] %}
{{ 'auto_private_groups = ' + sd.auto_private_groups }}
{% endif %}
{% if sd.proxy_pam_target is defined and sd.proxy_pam_target != '' %}
{{ 'proxy_pam_target = ' + sd.proxy_pam_target }}
{% endif %}
{% if sd.proxy_lib_name is defined and sd.proxy_lib_name != '' %}
{{ 'proxy_lib_name = ' + sd.proxy_lib_name }}
{% endif %}
{% if sd.proxy_resolver_lib_name is defined and
  sd.proxy_resolver_lib_name != '' %}
{{ 'proxy_resolver_lib_name = ' + sd.proxy_resolver_lib_name }}
{% endif %}
{% if sd.proxy_fast_alias is defined and
  sd.proxy_fast_alias in ['true', 'false'] %}
{{ 'proxy_fast_alias = ' + sd.proxy_fast_alias }}
{% endif %}
{% if sd.proxy_max_children is defined and sd.proxy_max_children != '' %}
{{ 'proxy_max_children = ' ~ sd.proxy_max_children }}
{% endif %}
{% if sd.krb5_server is defined and sd.krb5_server != '' %}
{{ 'krb5_server = ' + sd.krb5_server }}
{% endif %}
{% if sd.krb5_backup_server is defined and sd.krb5_backup_server != '' %}
{{ 'krb5_backup_server = ' + sd.krb5_backup_server }}
{% endif %}
{% if sd.krb5_realm is defined and sd.krb5_realm != '' %}
{{ 'krb5_realm = ' + sd.krb5_realm }}
{% endif %}
{% if sd.krb5_kpasswd is defined and sd.krb5_kpasswd != '' %}
{{ 'krb5_kpasswd = ' + sd.krb5_kpasswd }}
{% endif %}
{% if sd.krb5_backup_kpasswd is defined and sd.krb5_backup_kpasswd != '' %}
{{ 'krb5_backup_kpasswd = ' + sd.krb5_backup_kpasswd }}
{% endif %}
{% if sd.krb5_ccachedir is defined and sd.krb5_ccachedir != '' %}
{{ 'krb5_ccachedir = ' + sd.krb5_ccachedir }}
{% endif %}
{% if sd.krb5_ccname_template is defined and sd.krb5_ccname_template != '' %}
{{ 'krb5_ccname_template = ' + sd.krb5_ccname_template }}
{% endif %}
{% if sd.krb5_auth_timeout is defined and sd.krb5_auth_timeout != '' %}
{{ 'krb5_auth_timeout = ' ~ sd.krb5_auth_timeout }}
{% endif %}
{% if sd.krb5_validate is defined and sd.krb5_validate in ['true', 'false'] %}
{{ 'krb5_validate = ' + sd.krb5_validate }}
{% endif %}
{% if sd.krb5_store_password_if_offline is defined and
  sd.krb5_store_password_if_offline in ['true', 'false'] %}
{{ 'krb5_store_password_if_offline = ' + sd.krb5_store_password_if_offline }}
{% endif %}
{% if sd.krb5_renewable_lifetime is defined and
  sd.krb5_renewable_lifetime != '' %}
{{ 'krb5_renewable_lifetime = ' + sd.krb5_renewable_lifetime }}
{% endif %}
{% if sd.krb5_lifetime is defined and sd.krb5_lifetime != '' %}
{{ 'krb5_lifetime = ' + sd.krb5_lifetime }}
{% endif %}
{% if sd.krb5_renew_interval is defined and sd.krb5_renew_interval != '' %}
{{ 'krb5_renew_interval = ' + sd.krb5_renew_interval }}
{% endif %}
{% if sd.krb5_use_fast is defined and sd.krb5_use_fast != '' %}
{{ 'krb5_use_fast = ' + sd.krb5_use_fast }}
{% endif %}
{% if sd.krb5_fast_principal is defined and sd.krb5_fast_principal != '' %}
{{ 'krb5_fast_principal = ' + sd.krb5_fast_principal }}
{% endif %}
{% if sd.krb5_fast_principal is defined and sd.krb5_fast_principal != '' %}
{{ 'krb5_fast_principal = ' + sd.krb5_fast_principal }}
{% endif %}
{% if sd.krb5_canonicalize is defined and
      sd.krb5_canonicalize in ['true', 'false'] %}
{{ 'krb5_canonicalize = ' + sd.krb5_canonicalize }}
{% endif %}
{% if sd.krb5_use_kdcinfo is defined and
      sd.krb5_use_kdcinfo in ['true', 'false'] %}
{{ 'krb5_use_kdcinfo = ' + sd.krb5_use_kdcinfo }}
{% endif %}
{% if sd.krb5_kdcinfo_lookahead is defined and
      sd.krb5_kdcinfo_lookahead != '' %}
{{ 'krb5_kdcinfo_lookahead = ' + sd.krb5_kdcinfo_lookahead }}
{% endif %}
{% if sd.krb5_map_user is defined and sd.krb5_map_user != '' %}
{% if sd.krb5_map_user is string %}
{{ 'krb5_map_user = ' + sd.krb5_map_user }}
{% elif sd.krb5_map_user is sequence %}
{{ 'krb5_map_user = ' + sd.krb5_map_user | join(',') }}
{% endif %}
{% endif %}
{% if sd.krb5_use_enterprise_principal is defined and
  sd.krb5_use_enterprise_principal in ['true', 'false'] %}
{{ 'krb5_use_enterprise_principal = ' + sd.krb5_use_enterprise_principal }}
{% endif %}
{% if sd.dyndns_update is defined and sd.dyndns_update in ['true', 'false'] %}
{{ 'dyndns_update = ' + sd.dyndns_update }}
{% endif %}
{% if sd.dyndns_ttl is defined and sd.dyndns_ttl != '' %}
{{ 'dyndns_ttl = ' ~ sd.dyndns_ttl }}
{% endif %}
{% if sd.dyndns_iface is defined and sd.dyndns_iface != '' %}
{% if sd.dyndns_iface is string %}
{{ 'dyndns_iface = ' + sd.dyndns_iface }}
{% elif sd.dyndns_iface is sequence %}
{{ 'dyndns_iface = ' ~ sd.dyndns_iface | join(', ') }}
{% endif %}
{% endif %}
{% if sd.dyndns_auth is defined and sd.dyndns_auth != '' %}
{{ 'dyndns_auth = ' + sd.dyndns_auth }}
{% endif %}
{% if sd.dyndns_refresh_interval is defined and
  sd.dyndns_refresh_interval != '' %}
{{ 'dyndns_refresh_interval = ' ~ sd.dyndns_refresh_interval }}
{% endif %}
{% if sd.dyndns_update_ptr is defined and sd.dyndns_update_ptr in
  ['true', 'false'] %}
{{ 'dyndns_update_ptr = ' + sd.dyndns_update_ptr }}
{% endif %}
{% if sd.dyndns_force_tcp is defined and sd.dyndns_force_tcp in
  ['true', 'false'] %}
{{ 'dyndns_force_tcp = ' + sd.dyndns_force_tcp }}
{% endif %}
{% if sd.dyndns_server is defined and sd.dyndns_server != '' %}
{{ 'dyndns_server = ' + sd.dyndns_server }}
{% endif %}
{% if sd.dyndns_update_per_family is defined and sd.dyndns_update_per_family in
  ['true', 'false'] %}
{{ 'dyndns_update_per_family = ' + sd.dyndns_update_per_family }}
{% endif %}
{% if sd.krb5_confd_path is defined and sd.krb5_confd_path != '' %}
{{ 'krb5_confd_path = ' + sd.krb5_confd_path }}
{% endif %}
{% if sd.override_homedir is defined and sd.override_homedir != '' %}
{{ 'override_homedir = ' + sd.override_homedir }}
{% endif %}
{% if sd.homedir_substring is defined and sd.homedir_substring != '' %}
{{ 'homedir_substring = ' + sd.homedir_substring }}
{% endif %}
{% if sd.shell_fallback is defined and sd.shell_fallback != '' %}
{{ 'shell_fallback = ' + sd.shell_fallback }}
{% endif %}
{% if sd.default_shell is defined and sd.default_shell != '' %}
{{ 'default_shell = ' + sd.default_shell }}
{% endif %}
{% endif %}
